{% extends 'generic_base.html' %}
{% load humanize %}

{% block sidebar %}
<div class="row col-md-12">
    <div class="roundedbox">
        <div class="row">
            <div class="col-md-12">
                <div class="sidebar_title"><h5>Pilot Information</h5></div>
                Pilot ID: {{ char_sheet.id }} <br>
                Pilot Corp: {{ char_sheet.corp.name }} <br>
                Pilot ISK: {{ char_sheet.balance|intcomma }} <br>
                Pilot SP: {{ char_sheet.skillpoints|intcomma }} <br>
                Pilot Clone: {{ char_sheet.clone.name }} ({{ char_sheet.clone.skillpoints|intcomma }} SP) <br>

            </div>
        </div>
    </div>

    <div class="roundedbox">
        <div class="row">
            <div class="col-md-12">
                <div class="sidebar_title"><h5>Skill Training</h5></div>
                Current Skill In Training: {{ skillname }} (Level {{ current_training.level }})<br>

            </div>
        </div>
    </div>

    <div class="roundedbox">
        <div class="row">
            <div class="col-md-12">
                <div class="sidebar_title"><h5>Attributes</h5></div>
                {% for attrib_key, attrib_value in char_sheet.attributes.items %}
                    <p> {{ attrib_key|capfirst }} {{ attrib_value.base }}
                        Base + {{ attrib_value.bonus.value }} Bonus {{ attrib_value.total }}</p>
                {% endfor %}
            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block content %}
    <br>
    <div class="col-md-12">
        <img src="http://image.eveonline.com/Character/{{ char_sheet.id }}_128.jpg">
        <p style="font-weight:bold">{{ char_sheet.name }}</p>
    </div>
    <ul class="nav nav-tabs">
    <li class="active"><a href="#skills" data-toggle="tab">Skills</a></li>
    <li><a href="#skillqueue" data-toggle="tab">Skill Queue</a></li>
    <li><a href="#standings" data-toggle="tab">Standings</a></li>
    </ul>
        <div class="tab-content">
            <div class="tab-pane" id="standings">
                    <div class="row">
                        <div class="col-md-6">Entity Name</div>
                        <div class="col-md-2">Entity Type</div>
                        <div class="col-md-2">Raw Standing</div>
                        <div class="col-md-2">Effective Standing</div>
                    </div>
                        {% for f in faction_standings %}
                            <div class="row">
                                <div class="col-md-6">{{ f.name }}</div>
                                <div class="col-md-2">Faction</div>
                                <div class="col-md-2">{{ f.standing }}</div>
                                <div class="col-md-2"> {{ f.e_standing }}</div>
                            </div>
                        {%  endfor %}
                        {% for c in corporation_standings %}
                            <div class="row">
                                <div class="col-md-6">{{ c.name }}</div>
                                <div class="col-md-2">Corporation</div>
                                <div class="col-md-2">{{ c.standing }}</div>
                                <div class="col-md-2">{{ c.e_standing }}</div>
                            </div>
                        {% endfor %}
                        {% for a in agent_standings %}
                            <div class="row">
                                <div class="col-md-6">{{ a.name }} </div>
                                <div class="col-md-2">Agent</div>
                                <div class="col-md-2">{{ a.standing }}</div>
                                <div class="col-md-2">{{ a.e_standing }}</div>
                            </div>
                        {% endfor %}

            </div>


            <div class="tab-pane active" id="skills">
                <div class="panel-group" id="accordion">

                    {% for group in skilltree %}

                            <div class="panel panel-default">
                                <div class="panel-heading" >
                                <h4 class="panel-title" >
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseg{{ forloop.counter }}">{{ group.name }}
                                    </a></h4>

                                </div>

                                <div id="collapseg{{ forloop.counter }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                Skill
                                            </div>

                                            <div class="col-md-3">
                                                Rank
                                            </div>
                                            <div class="col-md-3">
                                                Level
                                            </div>
                                            <div class="col-md-3">
                                                Skill Points
                                            </div>
                                        </div>

                                        {% for s in char_sheet.skills %}
                                         {% for g, v in group.skills.items %}
                                          {% if s.id == g and group.name %}
                                           <div class="row">
                                            <div class="col-md-3">{{ v.name }} </div>
                                            <div class="col-md-3">{{ v.rank }}</div>
                                            <div class="col-md-3"> {{ s.level }}</div>
                                            <div class="col-md-3">{{ s.skillpoints|intcomma }}</div>
                                           </div>
                                           {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                                {% endfor %}
                            </div>
            </div>
            <div class="tab-pane" id="skillqueue">

                    {% for s in skill_queue %}
                        <div class="row">
                            <div class="col-md-4"> {{ s.name }} </div>
                            <div class="col-md-4">&nbsp;</div>
                            <div class="col-md-4">Level: {{ s.level }}
                                <br>
                                Finished In: {{ s.end_date }}
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ s.percent_done }}"
                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ s.percent_done }}%;">
                                {{ s.percent_done }}% Complete
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>






{% endblock %}