<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<!--Include jQuery -->
<script type="text/javascript" src="{% static 'js/jquery-1.11.0.js' %}"></script>
<link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<!--Include the slidepanel plugin -->
<body>
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PyHq</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'character_overview' %}">Character Planner<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'skillplanner' %}">Skill Planner</a></li>
        <li><a href="{% url 'settings' %}">Settings</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
<div class="container-fluid" id="bg">
    <div class="row-fluid" style="height:100%">
        <div class="col-md-4">
            {% block sidebar %}

            {% endblock %}
        </div>

        <div class="col-md-8">
        {% block content %}<p> this content should be replaced</p> {%  endblock %}
        </div>
    </body>
</html>