<!DOCTYPE html>
<html lang="en">
{% load static %}
<!--Include jQuery -->
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>
<link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'js/themes/base/jquery-ui.css' %}">
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'js/themes/blue/style.css' %}">
<!--Include the slidepanel plugin -->
<body>
<div class="container-fluid" id="bg">
{% block page %}

{% endblock %}
</div>
</body>
</html>