{% extends 'includes_base.html' %}
{% block page %}
<script>$(function() {
  $("#skill_filter").autocomplete({
    source: "/api/get_skills/",
    minLength: 2
  });
});</script>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="ui-widget">
                    <label for="skills">Skill: </label>
                    <input id="skill_filter">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>

    <div class="col-md-6">

    </div>

</div>
{% endblock %}