{% extends 'includes_base.html' %}
{% block page %}
<script>$(function() {
    $("#queue_table").tablesorter();
  $("#skills").autocomplete({
    source: "api/get_skills/",
    minLength: 2,
    select: function (event, ui) {
        var skill = ui.item.value;
        var url = "api/load_skills/?skill=" + skill;
        jQuery.getJSON(url, function( data ) {
            document.getElementById("skillname").innerHTML=data[0].name;
            document.getElementById("skillrank").innerHTML=data[0].rank;
            document.getElementById("primaryattribute").innerHTML=data[0].primaryAttribute;
            document.getElementById("secondaryattribute").innerHTML=data[0].secondaryAttribute;
            document.getElementById("description").innerHTML=data[0].description;

            $('#level_select option').each(function(i) {
               if (this.value < data[0].min_level) {
                   $(this).attr("disabled", "disabled");
               }
            });
            var prereq_html = "";

            $.each(data[0].prereqs, function(key, value) {
                prereq_html += "<li>" + key + ": " + value + "</li>"
            });
            document.getElementById("prereq_skills").innerHTML=prereq_html
        });


    }
  });

$("#add_to_queue").click(function() {
    var skill = $("#skills").val();
    var skill_url = "api/add_to_queue/?skill=" + skill;
    var url = skill_url + "&level=" + $("#level_select").val();
    var skill_html = "<tr>";
    jQuery.getJSON(url, function(data) {
            $.each(data[0], function(key, value) {
            skill_html += "<td>" + value + "</td>";
            skill_html += " ";
            });
            alert(skill_html);
            skill_html += "</tr>";
    $("#queue_table tbody").append(skill_html);
    $("#queue_table tbody").trigger("update");
    });

});


});



</script>

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="ui-widget">
                    <label for="skills">Skill: </label>
                    <input id="skills">
                    <button id="add_to_queue">Add To Queue</button>
                    <select id="level_select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#general" data-toggle="tab">General</a></li>
                    <li><a href="#description" data-toggle="tab">Description</a></li>
                    <li><a href="#prereqs" data-toggle="tab">Pre-Reqs</a></li>
                    <li><a href="#deps" data-toggle="tab">Dependencies</a></li>
                    <li><a href="#skillpoints" data-toggle="tab">Skill Points</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active roundedbox" style="background-color:#ffffff" id="general">
                        <div class="row">
                            <div class="col-md-6">Skill Name</div>
                            <div class="col-md-6" id="skillname">Skill name update</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Skill Rank</div>
                            <div class="col-md-6" id="skillrank">Skill Rank update</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Skill Price</div>
                            <div class="col-md-6">Skill Price Update</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Primary Attribute</div>
                            <div class="col-md-6" id="primaryattribute">Primary Attribute Update</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Secondary Attribute</div>
                            <div class="col-md-6" id="secondaryattribute">Secondary Attribute Update</div>
                        </div>
                    </div>
                    <div class="tab-pane" id="description">
                        <div class="row">
                            <div class="col-md-6" id="description"> Description Update</div>
                        </div>
                    </div>
                    <div class="tab-pane" id="prereqs">
                        <div class="row">
                            <div class="col-md-6">
                                <ul id ="prereq_skills">
                                None
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="deps">
                        <div class="row">
                            <div class="col-md-6">
                                <ul id="dependent_skills">
                                    TBD
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                        <table id="queue_table" class="tablesorter">
                        <thead>
                        <tr>
                            <th id="skill_name">Skill Name</th>
                            <th id="cur_lvl">Cur Lvl</th>
                            <th id="from_lvl">From Lvl</th>
                            <th id="to_lvl">To Lvl</th>
                            <th id="percentage">%</th>
                            <th id="training_time">Training Time</th>
                            <th id="ttc">Time To Complete</th>
                            <th id="date_completed">Date Completed</th>
                        </tr>
                        </thead>
                        <tbody id="skill_queue">
                        </tbody>
                    </table>
            </div>
        </div>

    </div>

</div>
{% endblock %}