{% extends 'generic_base.html' %}

{% block content %}
<div class="row col-md-6">

        <div class="row">
            <div class="col-md-6">
                <h3>Pilot Information</h3>
                Pilot ID: {{ char_sheet.id }} <br>
                Pilot Corp: {{ char_sheet.corp.name }} <br>
                Pilot ISK: {{ char_sheet.balance }} <br>
                Pilot SP: {{ char_sheet.skillpoints }} <br>
                Pilot Clone: {{ char_sheet.clone.name }} ({{ char_sheet.clone.skillpoints }} SP) <br>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Skill Training</h3>
                Current Skill In Training: {{ skillname }} (Level {{ current_training.level }})<br>

            </div>
        </div>


    <div class="col-md-8">
{% for o in faction_standings %}
    <li>Faction: {{ o.name }} </li>
    <li>Standing: {{ o.standing }}</li>
    <p>{{ char_sheet.clone.skillpoints }}</p>
{%  endfor %}



</div>
</div>

{% endblock %}