<!DOCTYPE html>
<html lang="en">
{% load static %}
<!--Include jQuery -->
<script type="text/javascript" src="{% static 'js/jquery-1.11.0.js' %}"></script>
<link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<!--Include the slidepanel plugin -->

<div class="container-fluid">
    <div class="row-fluid" style="height:100%">
        <div class="col-md-4">
            {% block sidebar %}

            {% endblock %}
        </div>

        <div class="col-md-8">
        {% block content %}<p> this content should be replaced</p> {%  endblock %}
        </div>
</html>